<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>Roseville</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>IndexServlet</display-name>
    <servlet-name>IndexServlet</servlet-name>
    <servlet-class>com.roseville.servlet.IndexServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IndexServlet</servlet-name>
    <url-pattern>/IndexServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServiceSelectionServlet</display-name>
    <servlet-name>ServiceSelectionServlet</servlet-name>
    <servlet-class>com.roseville.servlet.ServiceSelectionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServiceSelectionServlet</servlet-name>
    <url-pattern>/ServiceSelectionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PSAServlet</display-name>
    <servlet-name>PSAServlet</servlet-name>
    <servlet-class>com.roseville.servlet.PSAServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PSAServlet</servlet-name>
    <url-pattern>/PSAServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OtherTypeOfAgreementServlet</display-name>
    <servlet-name>OtherTypeOfAgreementServlet</servlet-name>
    <servlet-class>com.roseville.servlet.OtherTypeOfAgreementServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OtherTypeOfAgreementServlet</servlet-name>
    <url-pattern>/OtherTypeOfAgreementServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AmendmentServlet</display-name>
    <servlet-name>AmendmentServlet</servlet-name>
    <servlet-class>com.roseville.servlet.AmendmentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AmendmentServlet</servlet-name>
    <url-pattern>/AmendmentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrdinanceServlet</display-name>
    <servlet-name>OrdinanceServlet</servlet-name>
    <servlet-class>com.roseville.servlet.OrdinanceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrdinanceServlet</servlet-name>
    <url-pattern>/OrdinanceServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LegalOpinionServlet</display-name>
    <servlet-name>LegalOpinionServlet</servlet-name>
    <servlet-class>com.roseville.servlet.LegalOpinionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LegalOpinionServlet</servlet-name>
    <url-pattern>/LegalOpinionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CityAttorneyServlet</display-name>
    <servlet-name>CityAttorneyServlet</servlet-name>
    <servlet-class>com.roseville.servlet.CityAttorneyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CityAttorneyServlet</servlet-name>
    <url-pattern>/CityAttorneyServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReviewServlet</display-name>
    <servlet-name>ReviewServlet</servlet-name>
    <servlet-class>com.roseville.servlet.ReviewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReviewServlet</servlet-name>
    <url-pattern>/ReviewServlet</url-pattern>
  </servlet-mapping>
</web-app>